@import url('https://fonts.googleapis.com/css?family=Special+Elite|Denk+One:400,700');
/* special-elite-regular - latin */
@font-face {
    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    src: local('Special Elite'), local('SpecialElite-Regular'),
    url('../fonts/special-elite-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/special-elite-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* denk-one-regular - latin */
@font-face {
    font-family: 'Denk One';
    font-style: normal;
    font-weight: 400;
    src: local('Denk One'), local('DenkOne-Regular'),
    url('../fonts/denk-one-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/denk-one-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
    background-color: #FF7E5F;
    font-family: 'Special Elite', cursive;
    font-weight: 400;
}
h2{
    font-family: 'Denk One', sans-serif;
}
div {
    /*position: relative;*/
    /*z-index: 2;*/
}
.header {
    width: 100%;
    text-align: center;
    display: block;
    /*margin: 15px auto 30px auto;*/
    margin:2em auto;
    font-size: .9em;
    color:#351C4D;
}
.lineFull {
    border-bottom: 1px solid #351C4D;
    text-align:center;
    height:2em;
    margin:2em auto;
    width: 100%;
    display: block;
}
.lineImg {
    padding: 5px 5px;
    width:50px;
    height:auto;
}
a {
    font-weight: 500;
    text-decoration: none;
    color: #351C4D;
    margin:4em 0;
    display: block;
    font-size:1.4em;
}
a:hover{
    color: #765285;
}
.quote-box {
    border-radius: 3px;
    position: relative;
    margin: auto;
    width: 450px;
    padding: 40px 50px;
    display: table;
    background-color: #FEB47B;
}
.quote-text {
    text-align: center;
    /*width: 450px;*/
    /*height: auto;*/
    /*clear: both;*/
    font-weight: 500;
    font-size: 1.75em;
}
.quote-text i {
    font-size: 1.0em;
    margin-right: 0.4em;
}
#text:after {
    display: inline;
    font-family: FontAwesome;
    content: '\f10e';
    padding-left: 10px;
}
#text:before{
    display: inline;
    font-family: FontAwesome;
    content: '\f10d';
    padding-right: 10px;
    font-size: inherit;
}
.quote-author {
    width: 450px;
    height: auto;
    clear: both;
    padding-top: 20px;
    font-size: 1em;
    text-align: right;
}
.buttons {
    width: 450px;
    margin: auto;
    display: inline-block;
}
.button {
    height: 38px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #351C4D;
    outline: none;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    margin-top: 30px;
    opacity: 1;
    cursor: pointer;
}
.buttons :hover {
    opacity: 0.9;
}
#new-quote {
    float: right;
    color: #F5AB99;
}
#tweet-quote {
    float: left;
    padding: 0;
    padding-top: 8px;
    text-align: center;
    font-size: 1.2em;
    margin-right: 5px;
    height: 30px;
    width: 40px;
    color: #F5AB99;
}
.lineHalf {
    border-bottom: 1px solid #351C4D;
    text-align:center;
    height:2em;
    margin:2em auto;
    width: 50%;
}
.lineImgTitle{
    padding: 5px 5px;
    width:50px;
    height:auto;
}
.logoImg{
    width: 60px;
    height: auto;
}
table{
    width: 100%;
}
td.left{
    width: 45%;
    padding-left: 5%;
    padding-top: 30px;
}
tr{
    /*border: 1px solid black;*/
}
td.center{
    width: 10%;
}
td.right{
    width: 45%;
    padding-right: 5%;
    padding-top: 30px;
}
hr.flared{
    height: 30px;
    border-style: solid;
    border-color: #351C4D;
    border-width: 3px 0 0 0;
    border-radius: 20px;
    overflow:visible;
}
hr.flared::before{
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #351C4D;
    border-width: 0 0 3px 0;
    border-radius: 20px;
}